@charset "utf-8";
@import 'common';

.edit-list {
  width: $width-large;
  margin: 0 auto;

  .edit-list-form {
    color: $text-color;

    .edit-list-title {
      width: $input-width;
      margin-bottom: $margin-bottom;
    }

    .delete-list-button {
      color: $error-color;
      border: solid 1px $error-color;
      width: $button-width;
      height: $button-height;
      margin: $margin-bottom 5px;
      border-radius: $border-radius;
    }

    .edit-list-button {
      background-color: $primary-color;
      color: $button-text-color;
      width: $button-width;
      height: $button-height;
      border-radius: $border-radius;
    }
  }
}

// タブレット対応
@media (max-width: 768px) {
  .edit-list {
    width: 90%;
  }
}

// スマートフォン対応
@media (max-width: 320px) {
  .edit-list {
    width: 95%;
  }
}