@charset "utf-8";
@import 'common';

// edit-taskスタイル
.edit-task {
  width: $width-large;
  margin: 0 auto;

  .edit-task-form {
    color: $text-color;

    .edit-task-title,
    .edit-task-detail {
      width: $input-width;
      margin-bottom: $margin-bottom;
    }

    .delete-task-button {
      color: $error-color;
      border: solid 1px $error-color;
      width: $button-width;
      height: $button-height;
      margin: $margin-bottom 5px;
      border-radius: $border-radius;
    }

    .edit-task-button {
      background-color: $primary-color;
      color: $button-text-color;
      width: $button-width;
      height: $button-height;
      border-radius: $border-radius;
    }

    .error-message {
      color: $error-color;
    }
  }
}
