@charset "utf-8";
@import 'common';

// new-listスタイル
.new-list {
  width: $width-large;
  margin: 0 auto;

  .new-list-form {
    color: $text-color;

    .new-list-title {
      width: $input-width;
      margin-bottom: $margin-bottom;
    }

    .new-list-button {
      background-color: $primary-color;
      color: $button-text-color;
      width: $button-width;
      height: $button-height;
      border-radius: $border-radius;
      cursor: pointer;
      border: none;
    }
  }

  .error-message {
    color: red; // エラーメッセージの色は固定で赤に設定
  }
}
