@charset "utf-8";
@import 'common';
@import 'common-mobile';
@import 'common-tablet';

.new-task {
  width: $width-large;
  margin: 0 auto;
  padding: $padding-medium;

  .new-task-form {
    color: $text-color;

    .new-task-select-list,
    .new-task-title,
    .new-task-detail,
    .new-task-limit {
      width: $input-width;
      margin-bottom: $margin-bottom;
    }

    .new-task-detail {
      height: 200px;
    }

    .new-task-button {
      background-color: $primary-color;
      color: $button-text-color;
      width: $button-width;
      height: $button-height;
      border-radius: $border-radius;
    }
  }

  .error-message {
    color: $error-color;
  }
}

// タブレット対応
@media (max-width: 768px) {
  .new-task {
    width: 90%;
    margin: 20px auto;

    .new-task-form {
      .new-task-select-list,
      .new-task-title,
      .new-task-detail,
      .new-task-limit {
        width: 100%;
        margin-bottom: 20px;
      }

      .new-task-button {
        width: 100%;
        padding: 12px;
      }
    }
  }
}

// スマートフォン対応
@media (max-width: 320px) {
  .new-task {
    width: $mobile-width;
    margin: $mobile-margin;

    .new-task-form {
      .new-task-select-list,
      .new-task-title,
      .new-task-detail,
      .new-task-limit {
        width: 100%;
        margin-bottom: 15px;
      }

      .new-task-limit {
        padding: 12px; // パディングを追加
        height: 50px; // 高さを追加
      }

      .new-task-button {
        width: 100%;
        padding: 15px;
      }
    }
  }
}
