@charset "utf-8";
@import 'common';
@import 'common-mobile';
@import 'common-tablet';

// PC用スタイル
.signin {
  width: $width-medium;
  margin: 0 auto;
  padding: $padding-medium;

  .signin-form {
    color: $text-color;

    .email-input,
    .password-input {
      width: 100%;
      margin-bottom: $margin-bottom;
    }

    .signin-button {
      background-color: $primary-color;
      color: $button-text-color;
      width: $button-width;
      height: $button-height;
      border-radius: $border-radius;
      cursor: pointer;
      border: none;
    }
  }
}

// タブレット対応
@media (max-width: 768px) {
  .signin {
    width: $tablet-width;
    margin: $tablet-margin;

    .signin-form {
      .email-input,
      .password-input {
        width: 100%;
        margin-bottom: $tablet-padding-medium;
      }

      .signin-button {
        width: 100%;
        padding: $tablet-padding-medium;
      }
    }
  }
}

// スマートフォン対応
@media (max-width: 320px) {
  .signin {
    width: $mobile-width;
    margin: $mobile-margin;

    .signin-form {
      .email-input,
      .password-input {
        width: 100%;
        margin-bottom: $mobile-padding-small;
      }

      .signin-button {
        width: 100%;
        padding: $mobile-padding-small;
      }
    }
  }
}
